<div class="center jumbotron">
  <h1>Ruby on Rails Forum</h1>

  <h2>
    Welcome to the Ruby on Rails Forum.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-danger" if !logged_in? %>
</div>

<div>
  <%= render 'layouts/forumtree' %>
</div>