<footer class="footer">
  <small>
   By <%= link_to "Scott Berger",   "http://www.scottberger.xyz/" %>. View this project on <%= link_to "GitHub",   "https://github.com/ScottMBerger/railforum" %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

